// App colors.
$app-background-light-color: rgb(250 254 255);
$app-peach-color: rgb(249 227 224);

// Spacing.
$spacing: 10px;
$spacing-half: 5px;
$spacing-double: 20px;

// Misc.
$border-radius-default: 5px;
